{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>接口治理中心</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/css.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sdmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>
</head>
<body>
<div class="header">
	 <div class="logo"><img  src="{% static 'img/xiao.png' %}" /></div>
				<div class="header-right">
                <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i class="icon-user icon-white"></i> <a href="#">测试人员</a> <i class="icon-envelope icon-white"></i> <a href="#">发送邮件</a>
                <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						注销系统
					</h3>
				</div>
				<div class="modal-body">
					<p>
						您确定要注销退出系统吗？
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" href="{% url 'login' %}" >确定退出</a>
				</div>
			</div>
				</div>
</div>
<!-- 顶部 -->     
            
<div id="middle">
     <div class="left">
         <script type="text/javascript">
var myMenu;
window.onload = function() {
	myMenu = new SDMenu("my_menu");
	myMenu.init();
};
</script>

<div id="my_menu" class="sdmenu">
	<div >
		<span>数据服务</span>
		<a href="{% url 'data' %}">咨询业务</a>
		<a href="{% url 'data' %}">牛人实盘</a>
		<a href="{% url 'api_data' %}">行情信息</a>
	</div>
    <div >
		<span>证券APP</span>
		<a href="{% url 'data' %}">调试</a>
	</div>
    <div >
		<span>数据统计</span>
		<a href="{% url 'data' %}">时间统计</a>
		<a href="{% url 'data' %}">业务分析</a>
		<a href="{% url 'data' %}">行情信息</a>
	</div>
    <div >
		<span>数据监控</span>
		<a href="{% url 'memory_management' %}">内存监控</a>
	</div>
        <div >
		<span>后台配置</span>
		<a href="{% url 'interface' %}">接口信息配置</a>
		<a href="{% url 'personnel' %}">人员信息配置</a>
		<a href="{% url 'project' %}">项目信息配置</a>
	</div>
    </div>
     </div>
     <div class="Switch"></div>
     <script type="text/javascript">
	$(document).ready(function(e) {
    $(".Switch").click(function(){
	$(".left").toggle();
	 
		});
});
</script>
     <div class="right"  id="mainFrame">
     <div class="right_cont">
<ul class="breadcrumb">当前位置：
  <a href="#">首页</a> <span class="divider">/</span>
  <a href="#">数据服务</a> <span class="divider">/</span>
  接口执行
</ul>
   <div class="title_right"><strong>接口执行</strong></div>
   <div style="">
    <div class="input-group">
        <td>
           <tr>
               <span class="input-group-addon">接口地址：</span>
               <input type="text" name="input18" id="input18" class="span1-30" />
            </tr>
        &nbsp;&nbsp;&nbsp;&nbsp;
           <tr>
              <span class="input-group-addon">请求方式：</span>
              <input type="text" name="input18" id="input18" class="span1-1" />
            </tr>
             &nbsp;&nbsp;&nbsp;&nbsp;
           <tr>
              <button type="button" class="btn btn-primary" data-toggle="button">执 行</button>
           </tr>
        </td>
   </div>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div style="width:1300px;">
         <div>
             <span class="input-group-addon">请求值：</span>
             <textarea name="input9" id="input8" class="span10"></textarea>
         <div>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <div>
             <span class="input-group-addon">返回值：</span>
             <textarea name="input9" id="input9" class="span10">{{data}}</textarea>
         <div>
   </div>
     </div>
     </div>
    </div>
<!-- 底部 -->
<div id="footer">版权所有：平安证券质量保障组 &copy; 2015&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.mycodes.net/" target="_blank">系统管理员</a></div>

</body>
</html>
