{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数据服务</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/css.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sdmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>
    <script>
        //限制表格内容的显示字数
    function cutStr(len){
        var obj=document.getElementById('table1').getElementsByTagName('td');
        for (i=0;i<obj.length;i++){
            obj[i].innerHTML=obj[i].innerHTML.substring(0,len)+'…';
        }
    }
    </script>
    <link rel="shortcut icon" href="{% static 'img/favoicon.png '%}" mce_href="/img/favoicon.png" type="image/x-icon">
</head>
<body onload="cutStr(10)">
<div class="header">
	 <div class="logo"><img  src="{% static 'img/mobile.png' %}" /></div>
				<div class="header-right">
                <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i class="icon-user icon-white"></i> <a href="#">测试人员</a> <i class="icon-envelope icon-white"></i> <a href="#">发送邮件</a>
                <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						注销系统
					</h3>
				</div>
				<div class="modal-body">
					<p>
						您确定要注销退出系统吗？
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" href="{% url 'login' %}" >确定退出</a>
				</div>
			</div>
				</div>
</div>
<!-- 顶部 -->     
            
<div id="middle">
     <div class="left">
         <script type="text/javascript">
var myMenu;
window.onload = function() {
	myMenu = new SDMenu("my_menu");
	myMenu.init();
};
</script>

<div id="my_menu" class="sdmenu">
	<div >
		<span>大数据服务组</span>
		 {% for item in menu_bigdata %}
		  <a href=/app/consultation/?name={{item.ProjectName}}>{{item.ProjectName}}</a>
         {% endfor %}
	</div>
    <div >
		<span>APP组</span>
		 {% for item in menu_app %}
		  <a href=/app/consultation/?name={{item.ProjectName}}>{{item.ProjectName}}</a>
         {% endfor %}
	</div>
        <div >
		<span>后台配置</span>
		<a href="{% url 'interface' %}">接口信息配置</a>
		<a href="{% url 'personnel' %}">人员信息配置</a>
		<a href="{% url 'project' %}">项目信息配置</a>
	</div>
    </div>
     </div>
     <div class="Switch"></div>
     <script type="text/javascript">
	$(document).ready(function(e) {
    $(".Switch").click(function(){
	$(".left").toggle();
	 
		});
});
</script>
     <div class="right"  id="mainFrame">
     <div class="right_cont">
<ul class="breadcrumb">当前位置：
  <a href="#">首页</a> <span class="divider">/</span>
  <a href="#">{{name}}</a>
</ul>
   <div class="title_right"><strong>{{name}}数据</strong></div>
   <div style="margin:auto">
       <form action="/app/search/" method="post">
           {% csrf_token %}
       <table class="table table-bordered">
           <tr>
               <td width="10%" align="right" bgcolor="#f1f1f1">接口名称：</td>
               <td width="23%"><input type="text" name="interfaceName" id="input18" class="span1-1" value="{{interfaceName}}"/>
               <input type="hidden" name="projectname" value="{{name}}"/></td>
               <td width="10%" align="right" bgcolor="#f1f1f1">责任人：</td>
               <td width="23%"><input type="text" name="responsible" id="daozhan"  class="span1-1" value="{{responsible}}" /></td>
               <td class="text-center"><input type="submit" value="查询" class="btn btn-info " style="width:80px;" /></td>
               <td class="text-center"><a  class="btn btn-info btn-small"  id="modal-9735581" href="{% url 'interface_add' %}" role="button" data-toggle="modal">添加接口配置</a></td>
           </tr>
       </table>
       </form>
       <table class="table table-bordered" id="table1">
         <tr>
           <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>序号</strong></td>
           <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>接口名称</strong></td>
           <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>业务描述</strong></td>
           <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>请求方式</strong></td>
           <!--<td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>IP地址</strong></td>-->
           <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>责任人</strong></td>
           <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>结果</strong></td>
           <td align="center" nowrap="nowrap" bgcolor="#f1f1f1"><strong>操作</strong></td>
         </tr>
           {% for item in data %}
           <tr>
           <td align="center"><strong>{{item.id}}</strong></td>
           <td align="center"><strong>{{item.interfaceName}}</strong></td>
           <td align="center" title="{{item.interfaceDetails}}"><div style="width:100px;height: 20px;overflow-x:hidden;overflow-y:hidden;overflow:hidden;text-overflow:ellipsis;">{{item.interfaceDetails}}</div></td>
           <td align="center">{{item.methods}}</td>
           <!--<td align="center">{{item.IP}}</td>-->
           <td align="center">{{item.responsible }}</td>
              {% ifequal item.interfaceResult "0" %}
                    <td align="center" ><span class="label label-warning">失败</span></td>
              {% endifequal %}
              {% ifequal item.interfaceResult "1" %}
                    <td align="center" ><span class="label label-success">成功</span></td>
              {% endifequal %}
              {% ifequal item.interfaceResult "2" %}
                    <td align="center" ><span class="label label-info">未执行</span></td>
              {% endifequal %}
           <td align="center"><div style="width:100px;height: 20px;overflow-x:hidden;overflow-y:hidden;"><a href="{%url 'interface_request' item.id %}">执行</a></div></td>
           {% endfor %}
         </tr>
       </table>
               <div class="title_left">
             <span class="pull-left margin-bottom-5">
                 <ul class="pager">
                 <a >[第{{ data.number }}/{{ data.paginator.num_pages }}页]</a>
                 </ul>
             </span>
         </div>
         <div class="title_right">
             <span class="pull-right margin-bottom-5">
                 <ul class="pager">
                     {% if data.has_previous %}
                     <li><a href="/app/consultation/?page={{ data.previous_page_number }}&&name={{name}}">上一页</a></li>
                     {% endif %}
                     {% if data.has_next %}
                     <li><a href="/app/consultation/?page={{ data.next_page_number }}&&name={{name}}">下一页</a></li>
                     {% endif %}
                 </ul>
             </span>
         </div>
</div>
     
     
     </div>     
     </div>
    </div>
    
<!-- 底部 -->
<div id="footer">版权所有：平安证券质量保障组 &copy; 2015&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.mycodes.net/" target="_blank">系统管理员</a></div>
 <script>
!function(){
laydate.skin('molv');
laydate({elem: '#Calendar'});
}();
</script>



 
</body>
</html>
