{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN""http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>接口数据创建</title>
<link rel="stylesheet" href="{% static 'dist/jquery.jsonview.css' %}" />
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/css.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sdmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>
<script type="text/javascript" src="{% static 'dist/jquery.jsonview.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
</head>

<body>
<div class="header">
	 <div class="logo"><img  src="{% static 'img/mobile.png' %}" /></div>
     
				<div class="header-right">
                <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i class="icon-user icon-white"></i> <a href="#">开票员的工作平台</a> <i class="icon-envelope icon-white"></i> <a href="#">发送短信</a>
                <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						注销系统
					</h3>
				</div>
				<div class="modal-body">
					<p>
						您确定要注销退出系统吗？
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" href="登录.html" >确定退出</a>
				</div>
			</div>
				</div>
</div>
<!-- 顶部 -->     
            
<div id="middle">
     <div class="left">
     
     <script type="text/javascript">
var myMenu;
window.onload = function() {
	myMenu = new SDMenu("my_menu");
	myMenu.init();
};
</script>
	<div id="my_menu" class="sdmenu">
	<div >
		<span>大数据服务组</span>
		 {% for item in menu_bigdata %}
		  <a href=/app/consultation/?name={{item.ProjectName}}>{{item.ProjectName}}</a>
         {% endfor %}
	</div>
    <div >
		<span>APP组</span>
		 {% for item in menu_app %}
		  <a href=/app/consultation/?name={{item.ProjectName}}>{{item.ProjectName}}</a>
         {% endfor %}
	</div>
    <div >
		<span>后台配置</span>
		<a href="{% url 'interface' %}">接口信息配置</a>
		<a href="{% url 'personnel' %}">人员信息配置</a>
		<a href="{% url 'project' %}">项目信息配置</a>
        <!--<a href="{% url 'interface_config_qu' %}">接口信息相关</a>-->
	</div>
    </div>
     </div>
     <div class="Switch"></div>
     <script type="text/javascript">
	$(document).ready(function(e) {
    $(".Switch").click(function(){
	$(".left").toggle();
	 
		});
});
</script>

     <div class="right"  id="mainFrame">
     
     <div class="right_cont">
<ul class="breadcrumb">当前位置：
  <a href="#">首页</a> <span class="divider">/</span>
  <a href="#">后台配置</a> <span class="divider">/</span>
  执行数据接口
</ul>
   
   <div class="title_right"><strong>接口数据填写</strong></div>
         <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            温馨提示：接口对接信息录入
       </div>
<div style="width:900px;margin:auto;">
	{% for item in data %}
	<form id="formid" class="bs-example bs-example-form" role="form" action="{%url 'interface_request' item.id %}" method="{{item.methods}}">
      {% csrf_token %}
<!-- 开始-->

        <input id="methods" type="text" name="methods" placeholder="请求方式" value="{{item.methods}}" disabled="false"><input id="btn_data" type="button" value="发送"></br>
        <input id="interface_id" type="hidden" name="id" value="{{item.id}}">
		<textarea  id='url' name="url" placeholder="请求地址" style="margin: 10px 0px 10px; height: 90px; width: 779px;">{{item.interfaceAdress}}</textarea></br>
        {% if item.interfaceHead %}
        <input type="text" name="header" placeholder="请求头"  style="margin: 0px 0px 10px;width:200px"value="{{item.interfaceHead}}"></br>
		{% endif %}
		{% if item.interfaceBody %}
        <input id="interfaceBody" name="body" type="hidden" name="id" value="{{item.interfaceBody}}">
		<div id="interfaceBody_json" style="border:1px solid green;background:yellow;height:auto;min-height:100px;width=898px"></div>
		{% endif %}
        <!-- 结束-->

	</form>
	{% endfor %}
<!--     <textarea id="result" placeholder="返回结果" style="margin: 0px 0px 10px; height: 340px; width: 500px;background:yellow; font-size:20px" >{{ responsedata }}</textarea> -->
	<div id="json" style="border:1px solid green;background:yellow;height:auto;min-height:100px;width=898px"></div>
   </div>
               <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      温馨提示：标示为* 为必填项
       </div>
 </div>
     </div>
    </div>
    
<!-- 底部 -->
<div id="footer">版权所有：平安证券 &copy; 2017&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">软件保障组</a></div>
    
    

 <script>
!function(){
laydate.skin('molv');
laydate({elem: '#Calendar'});
}();
//ajax请求
$(document).ready(function(){
var methods=$("#methods").val()
	$("#btn_data").bind("click",
                 function() {
                        	//下面是ajax
                        	var url=$("#url").val()
                        	var result=$("#result").val()
                        	var json=$.parseJSON(result)
                        	//var json=eval(result)
                        	//$("#json").JSONView(json)
							console.log(typeof(json))
                        	if(methods=="GET"){
                        		$.get('{% url "interface_get" %}',
                        		{"url":url}, function(ret){
     							 console.log("ff");
     							// alert($("#url").val())
     							 $("#result").val(ret)
     							 $("#json").JSONView(ret)
 							 		})
 							 }else{
 							 	$.post(
 							 	'{% url "interface_post"%}',
 							 	{"id":$("#interface_id").val()}, function (ret) {
     							 $("#result").val(ret)
     							 $("#json").JSONView(ret)
 							 		})
 							 }

                   });
})
//格式化请求体
$(document).ready(function(){
    $("#interfaceBody_json").JSONView($("#interfaceBody").val())
})
</script>



 
</body>
</html>
 