{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>接口信息配置</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/css.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sdmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>

</head>
<body>
<div class="header">
	 <div class="logo"><img  src="{% static 'img/mobile.png' %}" /></div>
     
				<div class="header-right">
                <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i class="icon-user icon-white"></i> <a href="#">测试工程师</a> <i class="icon-envelope icon-white"></i> <a href="#">发送短信</a>
                <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						注销系统
					</h3>
				</div>
				<div class="modal-body">
					<p>
						您确定要注销退出系统吗？
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" href="{% url 'login' %}" >确定退出</a>
				</div>
			</div>
				</div>
</div>
<!-- 顶部 -->     
            
<div id="middle">
     <div class="left">
       <script type="text/javascript">
var myMenu;
window.onload = function() {
	myMenu = new SDMenu("my_menu");
	myMenu.init();
};
</script>

<div id="my_menu" class="sdmenu">
	<div >
		<span>数据服务</span>
		<a href="{% url 'consultation' %}">接口执行</a>
		<a href="{% url 'quotation' %}">接口用例</a>
	</div>
    <div >
		<span>证券APP</span>
		<a href="{% url 'data' %}">调试</a>
	</div>
      <div >
		<span>数据监控</span>
		<a href="{% url 'memory_management' %}">内存监控</a>
	</div>
     <div >
		<span>后台配置</span>
		<a href="{% url 'interface' %}">接口信息配置</a>
		<a href="{% url 'personnel' %}">人员信息配置</a>
		<a href="{% url 'project' %}">项目信息配置</a>
		<a href="{% url 'interface_config_qu' %}">接口信息相关</a>
	</div>
    </div>

     </div>
     <div class="Switch"></div>
     <script type="text/javascript">
	$(document).ready(function(e) {
    $(".Switch").click(function(){
	$(".left").toggle();
	 });
});
</script>

     <div class="right"  id="mainFrame">
     <div class="right_cont">
 <ul class="breadcrumb">当前位置：
  <a href="#">首页</a> <span class="divider">/</span>
  <a href="#">后台配置</a> <span class="divider">/</span>
  接口信息配置
</ul>
   <div class="title_right"><span class="pull-right margin-bottom-5"><a  class="btn btn-info btn-small"  id="modal-9735581" href="{% url 'interface_add_qu' %}" role="button" data-toggle="modal"><i class="icon-plus icon-white"></i> 添加接口配置</a></span><strong>接口配置信息</strong></div>
   <div id="modal-container-9735581" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:600px; margin-left:-300px; top:20%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						接口信息配置
					</h3>
				</div>
				<div class="modal-body">
				 <table class="table table-bordered">
  <tbody>
    <tr>
      <td align="right">ID:</td>
      <td align="left"><input name="endTextBox" type="text" id="endTextBox" class="span1-1" />
        [*]</td>
      <td align="right">接口名称</td>
      <td align="left" colspan="3"><input name="tbx_short2" type="text" id="tbx_short2" class="span1-1" />
        [*]</td>
    </tr>
    <tr>
      <td align="right">联系人</td>
      <td align="left"><input name="manTextBox" type="text" id="manTextBox" class="span1-1" /></td>
      <td align="right">电话:</td>
      <td align="left" colspan="3"><input name="phoneTextBox" type="text" id="phoneTextBox" class="span1-1" /></td>
    </tr>
    <tr>
      <td align="right">郑货总部分成比例:</td>
      <td align="left"><input name="TextBox1" type="text" value="0" id="TextBox1" class="span1-1" />
        %</td>
      <td align="right">郑货分公司分成比例:</td>
      <td colspan="3" align="left"><input name="TextBox2" type="text" value="0" id="TextBox2" class="span1-1" />%</td>
    </tr>
  </tbody>
</table>
				</div>
				<div class="modal-footer">
					 <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">保存</button> 
                     <button class="btn btn-info" data-dismiss="modal" aria-hidden="true" style="width:80px">取消</button> 
				</div>
			</div>
     <table class="table table-bordered table-striped table-hover">
     <tbody>
       <tr align="center">
           <td nowrap="nowrap"><strong>项目名称</strong></td>
           <td nowrap="nowrap"><strong>接口名称</strong></td>
           <td nowrap="nowrap"><strong>请求地址</strong></td>
           <td><strong>请求头</strong></td>
           <td><strong>请求体</strong></td>
           <td><strong>描述</strong></td>
           <td width="80" nowrap="nowrap"><strong>操作</strong></td>
         </tr>
       {% for item in data %}
       <tr align="center">
         <td nowrap="nowrap" title="{{item.projectName}}">{{item.projectName}}</td>
         <td nowrap="nowrap" title="{{item.interfaceName}}">{{item.interfaceName}}</td>
         <td nowrap="nowrap" title="{{item.requestAdress}}"><div style="width:100px;overflow-x:hidden;overflow-y:hidden;">{{item.requestAdress}}</div></td>
         <td nowrap="nowrap" title="{{item.requestHeader}}">{{item.requestHeader}}</td>
         <td nowrap="nowrap" title="{{item.requestBody}}"><div style="width:100px;overflow-x:hidden;overflow-y:hidden;">{{item.requestBody}}</div></td>
         <td nowrap="nowrap" title="{{item.description}}">{{item.description}}</td>
         <td nowrap="nowrap"><a data-toggle="modal" data-target="#myModal"  href="{%url 'interface_delete_qu' item.id %}">删除</a> <a href="/app/interface_edit/?id={{item.id}}">编辑</a> <a href="{%url 'interface_exe' item.id %}">执行</a></td>
       </tr>
       {% endfor %}
     </tbody>
   </table>
         <div class="title_right">
             <span class="pull-right margin-bottom-5">
                 <ul class="pager">
                     <li><a href="#">上一页</a></li>
                     <li><a href="#">下一页</a></li>
                 </ul>
             </span>
         </div>
     </div>
         <!-- 底部 -->
<div id="footer">版权所有：平安证券保障团队 &copy; 2017&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'login' %}" target="_blank">系统管理员</a></div>
   <!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">
					删除
				</h4>
			</div>
			<div class="modal-body">
				确定要删除吗
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">关闭
				</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal">
					删除
				</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>
         <script>
  !function(){
     laydate.skin('molv');
     laydate({elem: '#Calendar'});
     laydate.skin('molv');
     laydate({elem: '#Calendar2'});
   }();
</script>
</body>
</html>
