{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>接口治理中心</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
<link rel="stylesheet" href="{% static 'css/css.css' %}" />
<script type="text/javascript" src="{% static 'js/jquery1.9.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sdmenu.js' %}"></script>
<script type="text/javascript" src="{% static 'js/laydate/laydate.js' %}"></script>
</head>
<body>
<div class="header">
	 <div class="logo"><img  src="{% static 'img/xiao.png' %}" /></div>
				<div class="header-right">
                <i class="icon-question-sign icon-white"></i> <a href="#">帮助</a> <i class="icon-off icon-white"></i> <a id="modal-973558" href="#modal-container-973558" role="button" data-toggle="modal">注销</a> <i class="icon-user icon-white"></i> <a href="#">开票员的工作平台</a> <i class="icon-envelope icon-white"></i> <a href="#">发送短信</a>
                <div id="modal-container-973558" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width:300px; margin-left:-150px; top:30%">
				<div class="modal-header">
					 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h3 id="myModalLabel">
						注销系统
					</h3>
				</div>
				<div class="modal-body">
					<p>
						您确定要注销退出系统吗？
					</p>
				</div>
				<div class="modal-footer">
					 <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button> <a class="btn btn-primary" style="line-height:20px;" href="登录.html" >确定退出</a>
				</div>
			    </div>
                </div>
</div>
<!-- 顶部 -->
<div id="middle">
     <div class="left">
       <script type="text/javascript">
        var myMenu;
        window.onload = function() {
	    myMenu = new SDMenu("my_menu");
	    myMenu.init();
     };
</script>
<div id="my_menu" class="sdmenu">
	<div >
		<span>大数据组</span>
		<a href="查询页面.html">咨询业务</a>
		<a href="分理处发货排行榜.html">牛人实盘</a>
		<a href="开票界面.html">行情信息</a>
	</div>
    <div >
		<span>证券APP</span>
		<a href="{% url 'data' %}">调试</a>
	</div>
     <div >
		<span>数据监控</span>
		<a href="{% url 'memory_management' %}">内存监控</a>
	</div>
    <div >
		<span>后台配置</span>
		<a href="{% url 'interface' %}">接口信息配置</a>
		<a href="{% url 'personnel' %}">人员信息配置</a>
		<a href="{% url 'project' %}">项目信息配置</a>
	</div>
    </div>
     </div>
     <div class="Switch"></div>
     <script type="text/javascript">
     $(document).ready(function(e) {
     $(".Switch").click(function(){
	 $(".left").toggle();
	 	});
      });
</script>

     <div class="right"  id="mainFrame">
     
     <div class="right_cont">
<ul class="breadcrumb">当前位置：
  <a href="#">首页</a> <span class="divider">/</span>
  <a href="#">业务处理</a> <span class="divider">/</span>
  电脑开票
</ul>
   <div class="title_right"><strong>分理处发货排行榜</strong></div>  
       <div style="width:900px; margin:auto">
       <table class="table table-bordered">
         <tr>
     <td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">款到开始时间：</td>
     <td width="23%"><input type="text"  class="laydate-icon span1-1" id="Calendar" value="2015-08-25"  /></td>
     <td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">款到结束时间：</td>
     <td width="23%"><input type="text"  class="laydate-icon  span1-1" id="Calendar2" value="2015-08-25"  /></td>
     <td width="10%" align="right" nowrap="nowrap" bgcolor="#f1f1f1">选择排行内容：</td>
     <td><input type="text"   class=" span1-1" /></td>
     </tr>
       </table>
       
       <table  class="margin-bottom-20 table  no-border" >
        <tr>
     	<td class="text-center"><input type="button" value="查询" class="btn btn-info " style="width:80px;" /></td>
     </tr>
 </table>
       <table class="table table-bordered table-hover table-striped">
         <tbody>
           <tr align="center">
             <td><strong>No</strong></td>
             <td><strong>分理处</strong></td>
             <td><strong>运费合计</strong></td>
             <td><strong>代收款合计</strong></td>
             <td><strong>测试调试</strong></td>
             <td><strong> </strong></td>
           </tr>
           <tr align="center">
             <td>1</td>
             <td>华商汇二部分理处</td>
             <td>18701</td>
             <td>110517</td>
             <td>110517</td>
             <td><a id="DataGrid1_ctl03_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl03$LinkButton1','')">详细</a></td>
           </tr>
           <tr align="center">
             <td>4</td>
             <td>东建材分理处</td>
             <td>1216</td>
             <td>7672</td>
             <td>110517</td>
             <td><a id="DataGrid1_ctl06_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl06$LinkButton1','')">详细</a></td>
           </tr>
           <tr align="center">
             <td>7</td>
             <td>总部</td>
             <td>609</td>
             <td>19916</td>
             <td>110517</td>
             <td><a id="DataGrid1_ctl09_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl09$LinkButton1','')">详细</a></td>
           </tr>
           <tr align="center">
             <td>9</td>
             <td>香江分理处</td>
             <td>260</td>
             <td>26820</td>
             <td>110517</td>
             <td><a id="DataGrid1_ctl11_LinkButton1" href="javascript:__doPostBack('DataGrid1$ctl11$LinkButton1','')">详细</a></td>
           </tr>
         </tbody>
       </table>
       <table  class="margin-bottom-20 table  no-border" >
     <tr>
       <td class="text-center"><input type="button" value="打印" class="btn btn-info    margin-right-20" style="width:80px;"  /><input type="button" value="查询" class="btn btn-info  "  style="width:80px;" /></td>
     </tr>
   </table>
   </div>
     </div>     
     </div>
    </div>
<!-- 底部 -->
<div id="footer">版权所有：软件质量保障组 &copy; 2015&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" target="_blank">质量保障</a></div>
 <script>
!function(){
laydate.skin('molv');
laydate({elem: '#Calendar'});
laydate.skin('molv');
laydate({elem: '#Calendar2'});
}();
</script>
</body>
</html>
